# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk


# Custom
*.sdf
*.suo
*.opensdf
*.pdb
**/Intermediate/
VRRacer/Build/
VRRacer/Saved/
VRRacer/Binaries/

#Joystick plugin built .dll's
VRRacer/Plugins/JoystickPlugin/Binaries/Win64/UE4-JoystickPlugin-Win64-Shipping.lib
VRRacer/Plugins/JoystickPlugin/Binaries/Win64/UE4-JoystickPlugin.lib

#Files that are too large to store in the repo
VRRacer/Content/ProceduralNaturePack/Textures/ground_mud_no_puddle_nrm_8192.uasset
VRRacer/Content/ProceduralNaturePack/Textures/ground_mud_no_puddle_bsm_8192.uasset
VRRacer/Content/ProceduralNaturePack/Textures/ground_mud_no_puddle_rgm_8192.uasset
VRRacer/Content/ProceduralNaturePack/Textures/ground_mud_bsm_8192.uasset
VRRacer/Content/ProceduralNaturePack/Textures/ground_mud_nrm_8192.uasset
VRRacer/Content/ProceduralNaturePack/Textures/ground_mud_rgm_8192.uasset
VRRacer/Content/ProceduralNaturePack/EPIC_StarterContent/
VRRacer/Content/ProceduralNaturePack/Assets_Overview.umap
VRRacer/Content/ProceduralNaturePack/Demo_Scene.umap
Textures.rar